<html>

<head>
	<title>{RoomName} Auth</title>
	<link rel="stylesheet" type="text/css"
		href="templates/css/general.css">
</head>

<body onload="document.form.host.focus()">
	<center>
	<table cellpadding="10"><tr>
	<td><a href="?action=join&room={Room}">&lt;- Back</a></td>	
	<td><a href="./">&lt;&lt;- Home</a></td>
	</tr></table>
	<h1>Authorization</h1>
	<form name="form" action="?action={Access}&room={Room}"
		method="POST" enctype="multipart/form-data">
	Password:<br>
	<input type="password" name="{Type}"><br>
	<input type="submit">
	</form>
	</center>
</body>

</html>
