<html>
<head>
<title>SynchroVideo Info</title>
<link rel="stylesheet" type="text/css" href="templates/css/general.css">
<link rel="stylesheet" type="text/css" href="templates/css/info.css">
<link rel="icon" type="image/gif" href="templates/res/favicon.gif">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<center>
<a href="./">&lt;- Home</a>

<h1>SynchroVideo Info</h1>
</center>

<ul>
<li><a href="#about">What is SynchroVideo?</a></li>
<li><a href="#join">How do I join a room?</a></li>
<li><a href="#format">What video formats are supported?</a></li>
<li><a href="#source">Is this project open-source?</a></li>
<li><a href="#create">How do I create a room?</a></li>
<li><a href="#customize">How do I customize my room?</a></li>
<li><a href="#scripts">Custom room scripts</a></li>
<li><a href="#room">How do I use a room?</a></li>
<li><a href="#problems">Problems with synchronization?</a></li>
<li><a href="#contact">Additional Info</a></li>
</ul>

<a id="about"></a>
<h2>What is SynchroVideo?</h2>
<p>SynchroVideo is a webservice in the spirit of the late
<a href="http://synchtube.com">synchtube.com</a>. The site is divided into
"rooms", where multiple people can connect and watch videos together. One person acts as the "host", and can control video playback, while anyone else
in the room is automatically synchronized to the host's position in the
video.</p>

<a id="join"></a>
<h2>How do I join a room?</h2>
<p>On the <a href="./">home page</a> you can search for rooms. The room
search will find rooms based on their name and <b>tags</b>. The tags for a
room can be set in the <b>"[Room Settings]"</b> page of each room by anyone
with the room's host password. Searches will also look at and show the
current video playing in the room, so you can find rooms by their
playlists.</p>
<p>If you already know the name of the room you want to join, you can go
to its URL directly. The format for room URLs is<br>
<br>
<span class="url"><!--
-->http://synchrovideo.com?action=join&amp;room=ROOM_NAME
</span><br>
<br>
You can also use
<br><br>
<span class="url">
http://synchrovideo.com/room/ROOM_NAME
</span><br>
<br>
or
<br><br>
<span class="url">
http://synchrovideo.com/r/ROOM_NAME
</span><br>
<br>
to go to the room's page</p>

<a id="format"></a>
<h2>What video formats are supported?</h2>
<p>Currently, SynchroVideo supports only YouTube videos/playlists, but
support for other video-sharing sites is planned.</p>

<a id="source"></a>
<h2>Is this project open-source?</h2>
<p>Yes, you can view the latest source code <a
	href="https://github.com/kibook/SynchroVideo">here</a>.

<a id="create"></a>
<h2>How do I create a room?</h2>
<p>On the <a href="./">home page</a>, under Tools, click
<a href="./?action=new">Create Room</a>. Enter the CAPTCHA text (to prevent
spam) into the box below the generated CAPTCHA picture. If the CAPTCHA is
too difficult to read, try generating a new one by hitting the "Reset"
button or refreshing the page.</p>
<p>In the "Room Name" box, enter the full title that you want for your room.
This name should be 5-16 alphanumeric characters long and may also contain
spaces.</p>
<p>In the "Host Pass" box, enter the password you will use to gain "host" in
your room.</p>
<p>Finally, hit the "Submit" button. If the settings you specified are
valid, your room will be created and you will be automatically redirected to
its URL. The name of the room in the URL may be slightly different from the 
full room name, so be sure to make a note of it.</p>

<a id="customize"></a>
<h2>How do I customize my room?</h2>
<p>You can customize some aspects of your room, including a banner, the
page title, and eventually more. You can also make your room
<b>private</b>, which means clients will need a password to join it.
Private rooms also do not appear in searches for rooms on the home page.</p>
<p>To edit your room's settings, look in the "Settings" section near the
bottom of the page, for "[Room Settings]". Clicking the link will open the
room configuration page (if you are not currently the host, you will need
to enter the room's host password to gain access).</p>
<p>To make your room private, simply enter a password into the "Room
Password" box (to make it public again, make this box blank). Do not use
the same password for the room and host, unless you trust everyone who will
enter the room!</p>
<p>To add a banner, paste a link to an image in the "Banner" box. The image
should be 1000x300 pixels or else it will be stretched. To remove the
banner, simply leave the "Banner" box blank.</p>
<p>After you've made the changes you want, click "Save Changes" to apply
them to the room. The configuration window should then automatically
close.</p>

<a id="scripts"></a>
<h2>Custom room scripts</h2>
<p>You can customize your room even further by using custom CSS and
Javascript code. In the Room Settings page, point the Custom Script to a
Javascript file and the Custom Style to a CSS file (you will need to host
these elsewhere).</p>
<p>The "#sandbox" div is especially intended as a place to drop custom
content on to the page, although there's almost no limit to how you can
customize the page.</p>
<p><b>Be warned:</b> harmful or annoying scripts will be removed.</p>

<a id="room"></a>
<h2>How do I use a room?</h2>

<h3>Regular client</h3>
<p>As a regular client (i.e. not the room host), most things are already
automated for you. You can join the room's chat by entering a nickname in
the IRC chat box below the video and clicking the connect button.</p>
<p>If the room's Playlist is in "unlocked" mode, then you may add videos to
it via the "Add" box below the playlist. If it is locked however, only the
host can add new videos.</p>
<p>You can adjust the size of the video in the <b>Settings</b> section near
the bottom of the page. This can help accomodate smaller/larger computer
screens. You can also change the position of the video, chat, playlist, and
controls by choosing a different layout from the <b>Layout</b> drop-down
list.</p>

<h3>Host</h3>
<p>To become the room's host, simply click the "Become Host" button in the
"Settings" section near the bottom of the page.</p>
<p>As the host, you will notice a larger number of controls below the
playlist:</p>
<ul>
<li><b>Clear</b>&nbsp; removes all videos from the playlist.</li>
<li><b>Lock</b>&nbsp; secures the playlist so only the host can add
videos.</li>
<li><b>Unlock</b>&nbsp; opens the playlist so anyone can add videos.</li>
<li><b>Shuffle</b>&nbsp; mixes the order of the playlist randomly.</li>
<li><b>Random</b>&nbsp; plays a random video from the playlist.</li>
<li><b>Sort</b>&nbsp; arranges the playlist alphabetically by video
title.</li>
<li><b>TV Mode</b>&nbsp; lets the server act as host, so the room will
continue to play through the playlist without any real host.</li>
</ul>
<p>The "List" section allows you to save or load created playlists for the
room, or to import an existing YouTube playlist.</p>
<p>To <b>save</b> a playlist, enter a name for it in the List box, then
click the Save button. <u>NOTE:</u> This will overwrite an existing
playlist by the same name.</p>
<p>To <b>load</b> a playlist, select one from the drop-down menu below the
List box or enter its name manually, then click the Load button.</p>
<p>To <b>delete</b> a playlist, select one from the drop-down menu below the
List box or enter its name manually, then click the Delete button.</p>
<p>To <b>import</b> a YouTube playlist, paste the playlist URL into the
List box,then click the Import button.</p>
<p>Keep in mind that loading/importing videos from a playlist will append
the videos to the current playlist. Use the Clear button to start fresh
before loading/importing if you wish.</p>

<a id="problems"></a>
<h2>Problems with synchronization?</h2>
<p>If your video seems to stutter and jump around, you may be having
trouble keeping up with the host. Slower connections require more time to
synchronize, and this time can be adjusted in the "Settings" section near
the bottom of the page. Most of these only appear for normal clients.</p>
<p>Firstly, if the video appears to be looping the same few seconds over
and over again, then the room is most likely without a host, and there's
nothing you can do as a normal client. Hosts can leave their room in TVMode
to avoid this, but that's up to them.</p>
<p>The <b>"Synchronize"</b> checkbox controls whether or not your client
synchronizes with the host at all. Unchecking this will solve any sync
issues, but you may be widely out of sync with others in the room. You
should only uncheck this box if nothing else helps.</p>
<p><b>"Time Buffer"</b> controls a "grace period" between your video time
and the host's video time. For example, a buffer of "1 sec" means your
video time will only be forced to change if you are greater than 1 second
behind or ahead of the host. If the video seems to jump around, you
should try and increase this buffer. Ideally though, it should be as low as
possible while providing smooth playback to ensure the closest
synchronization between clients.</p>
<p><b>"Sync Interval"</b> controls how often your client attempts to
synchronize with the host. Unless maxing the Time Buffer doesn't help,
you should leave this at the default value.</p>

<a id="contact"></a>
<h2>Additional info</h2>
<p>For info, help, or questions, email Кибукь (Kibook) at
<a href="mailto:toko.msg@gmail.com">toko.msg@gmail.com</a></p>

</body>
</html>
