<html>

<head>
	<title>Create New Room</title>
	<link rel="stylesheet" type="text/css"
		href="templates/css/general.css">
</head>

<body>
	<center>

	<a href="./">&lt;- Home</a>

	<h1>New Room</h1>
	<form action="?action=create" method="POST"
		enctype="multipart/form-data">
	<input type="hidden" name="id" value="{CaptchaId}">
	<p><b>CAPTCHA:</b></p>
	<p><img src="data:image/png;base64,{CaptchaData}"></p>
	<p class="smalltext">Type in the letters and numbers above:</p>
	<p><input type="text" name="solve"></p>
	<table cellpadding="2">
	<tr title="Room name must consist of 5-16 alphanumeric characters.">
	<td>Room Name:</td>
	<td><input type="text" name="room"></td>
	</tr><tr
    title="This password will be used to take host and edit room settings.">
	<td>Host Password:</td>
	<td><input type="password" name="pass"></td>
	</tr><tr>
	<td>
    <button class="bigbtn" type="button"
		  onclick="location.reload(true);">
        Reset
    </button>
  </td>
	<td><button class="bigbtn" type="submit">Create Room</button></td>
	</tr>
	</table>
	</form>

	<p><a href="?action=info#create">How do I create a room?</a></p>

	</center>
</body>

</html>
