<html>

<head>
	<title>Create New Room</title>
	<link rel="stylesheet" type="text/css"
		href="templates/css/general.css">
</head>

<body>
	<center>

	<a href="./">&lt;- Home</a>

	<h1>New Room</h1>
	<form action="?action=create" method="POST"
		enctype="multipart/form-data">
	<input type="hidden" name="id" value="{CaptchaId}">
	<p><b>CAPTCHA:</b></p>
	<p><img src="data:image/png;base64,{CaptchaData}"></p>
	<p class="smalltext">Type in the letters and number above:</p>
	<p><input type="text" name="solve"></p>
	<table cellpadding="2">
	<tr>
	<td>Room Name:</td>
	<td><input type="text" name="room"></td>
	</tr><tr>
	<td>Host Password:</td>
	<td><input type="password" name="pass"></td>
	</tr><tr>
	<td><input type="button" value="Reset"
		onclick="location.reload(true);"></td>
	<td><input type="submit"></td>
	</tr>
	</table>
	</form>

	<p><a href="?action=info/#create">How do I create a room?</a></p>

	</center>
</body>

</html>
