<html>

<head>
	<meta charset="utf-8">
	<title>{PageTitle}</title>
	<link rel="stylesheet" type="text/css"
		href="templates/css/general.css">
	<link rel="stylesheet" type="text/css"
		href="templates/css/room.css">
	<link rel="icon" href="{Favicon}">
</head>

<body>
	<center>
	<p><a href="./">&lt;- Home</a></p>
	{Banner}

	{Description}

	<table cellpadding="5" style="width:95%">
	<tr>

	<td width="50%" id="T1">
	<object id="movie_container">
	<param id="movie_params" name="movie"
		value="http://www.youtube.com/v/{VideoId}?enablejsapi=1&version=3&autoplay=1"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"</param>
	<embed src="http://www.youtube.com/v/{VideoId}?enablejsapi=1&version=3&autoplay=1" type="application/x-shockwave-flash" width="640" height="450" allowscriptaccess="always" allowfullscreen="true" id="movie_player"></embed>
	</object>
	</td>

	<td width="50%" id="T2">
	<b>Playlist</b>&nbsp;<span id="playlistcount"></span>
	<br>
	<div id="playlistvideos"></div>
	</td>

	</tr><tr>

	<td id="T3">
	<iframe width="640" height="330" scrolling="no" frameborder="0" id="chat" src="http://kibj.nprog.ru:9090?prompt=1&channels={ChannelName}&uio={IrcConf}&nick=unnamed.."></iframe>
	</td>

	<td id="T4">
	<center>
	<b>Playlist Controls</b><br>
	<span id="lock"></span>
	<span id="tvmode"></span>
	<br>

	{HostControls}

	<table>
	<tr>
	<td>Add:</td>
	<td><input type="text" id="addvideo"></td>
	<td><input type="button" onclick="btnAddVideo();" value="Add"></td>
	</tr>
	</table>

	<div id="addwait">Adding video...</div>

	<br>
	
	{ListControls}

	</center>

	</td>

	</tr>
	</table>

	<h3>Settings</h3>
	<p>

	Video Size:&nbsp;
	<select id="videosize" onchange="changeVideoSize();">
	<option value="small">small</option>
	<option value="normal">normal</option>
	<option value="large">large</option>
	</select>&nbsp;

	Layout:&nbsp;
	<select id="layouts" onchange="changeLayout();">
	<option id="default" value="default">Default</option>
	<option id="top-chat" value="top-chat">Top Chat</option>
	<option id="right-chat" value="right-chat">Right Chat</option>
	<option id="no-chat" value="no-chat">No Chat</option>
	<option id="mirror" value="mirror">Mirror</option>
	</select>&nbsp;

	{SyncControls}

	Sync Interval&nbsp;
	<select id="delayselect" onchange="changeDelay();">
	<option value="500">0.5 secs</option>
	<option value="1000" selected="selected">1.0 secs</option>
	<option value="1500">1.5 secs</option>
	<option value="2000">2.0 secs</option>
	</select>&nbsp;

	{TakeHost}

	</p>

	<p>{SettingsLink}</p>

	</center>

	<hr noshade>
	<div id="sandbox"></div>

	<script>
	{VideoVars}
	</script>

	<script type="text/javascript" src="templates/js/room.js"></script>
	<script type="text/javascript" src="{SyncScript}"></script>
	<script type="text/javascript" src="templates/js/init.js"></script>

	<script type="text/javascript" src="{RoomScript}"></script>
	<link rel="stylesheet" type="text/css" href="{RoomStyle}">
</body>

</html>
