body {
	background-color: #222;
	color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:active {
	color: #a10;
	text-decoration: none;
}
a:hover, td.link a:hover {
	color: #d43;
	text-decoration: underline;
}
p.smalltext {
	font-size: 13px;
}
button {
    height: 26;
    width: 75;
}
button.bigbtn {
    height: 26;
    width: auto;
}
