body {
  margin-bottom: 30%;
}
p, h2, h3, ul, pre {
  margin-left: 20%;
  margin-right: 20%;
}
h2 {
  margin-top: 5%;
}
h2, b {
  color: #a10;
}
h3 {
  text-decoration: underline;
}
span.url {
  background-color: #aaa;
  color: #222;
  padding: 5px;
}
