<table cellpadding="5">
<tr>
<td class="btn"><input type="button" value="Clear"
	onclick="clearPlaylist();"></td>
<td class="btn"><input type="button" value="Lock"
	onclick="lockPlaylist();"></td>
<td class="btn"><input type="button" value="Unlock"
	onclick="unlockPlaylist();"></td>
</tr><tr>
<td class="btn"><input type="button" value="Shuffle"
	onclick="shufflePlaylist();"></td>
<td class="btn"><input type="button" value="Random"
	onclick="playRandom();"></td>
<td class="btn"><input type="button" value="Sort"
	onclick="sortPlaylist();"></td>
</tr><tr>
<td class="btn"><input type="button" value="Sanitize"
	onclick="sanitizePlaylist();"></td>
<td class="btn"><input type="button" value="TV Mode"
	onclick="startTvMode();"></td>
<td></td>
</tr>
</table>
<div id="sanitizewait">Removing bad videos...</div>
